.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000;
  color: white;
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  background-color: #191919;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-top: 4px;
  margin-left: 15px;
  font-size: 1.5em;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.link:hover {
  color: #468459;
  transition: 0.5s;
}
